.summary-item {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.summary-chart {
    /* flex: .75; */
}

/* .summary-table {
    flex-basis:25%;
    flex: 1 1 auto;
} */

