table {
    width: 100%;
    margin: 20px 0;
}
table {
    border: solid 2px green;
}

table > tbody > tr {
    height: 100%;
    border-bottom: 1px solid purple;
}

table > thead > tr > th {
    padding: 8px;
}

table > tbody > tr > td {
    padding: 4px;
}

td {
    /* border: solid 1px green; */
}

table > tbody > tr {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid black;
}